{
  "openapi": "3.1.0",
  "info": {
    "title": "HyperRoute API",
    "version": "0.1.0",
    "description": "Programmatic access to HyperRoute routing, execution, account settings, and feedback.",
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://hyperroute.io"
    }
  ],
  "paths": {
    "/recommend": {
      "post": {
        "operationId": "recommend",
        "summary": "Recommend",
        "parameters": [],
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recommendation"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string"
                },
                "example": "event: queued\ndata: {\"job\":\"job-id\",\"state\":\"queued\",\"position\":1,\"eta_ms\":0}\n\nevent: result\ndata: {\"session_id\":\"session-id\",\"kind\":\"ranked\",\"status\":\"ok\",\"best\":null}\n\n"
              }
            },
            "headers": {
              "X-HyperRoute-Caller": {
                "description": "Resolved caller-profile reference, or unknown. Present when a caller profile is supplied.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "Recommendation",
        "x-response-mode": "auto",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecommendRequest"
              }
            }
          }
        }
      }
    },
    "/recommend/submit": {
      "post": {
        "operationId": "submit_recommendation",
        "summary": "Submit recommendation",
        "parameters": [],
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "202": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecommendationSubmission"
                }
              }
            },
            "headers": {
              "X-HyperRoute-Caller": {
                "description": "Resolved caller-profile reference, or unknown. Present when a caller profile is supplied.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "RecommendationSubmission",
        "x-response-mode": "json",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecommendRequest"
              }
            }
          }
        }
      }
    },
    "/recommend/status/{job_id}": {
      "get": {
        "operationId": "recommendation_status",
        "summary": "Recommendation status",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecommendationJob"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "RecommendationJob",
        "x-response-mode": "json"
      }
    },
    "/describe": {
      "post": {
        "operationId": "describe",
        "summary": "Describe",
        "parameters": [],
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Description"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "Description",
        "x-response-mode": "json",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DescribeRequest"
              }
            }
          }
        }
      }
    },
    "/execute": {
      "post": {
        "operationId": "execute",
        "summary": "Execute",
        "parameters": [],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecutionResult"
                }
              }
            },
            "headers": {
              "X-HyperRoute-Caller": {
                "description": "Resolved caller-profile reference, or unknown. Present when a caller profile is supplied.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "ExecutionResult",
        "x-response-mode": "json",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteRequest"
              }
            }
          }
        }
      }
    },
    "/report_outcome": {
      "post": {
        "operationId": "report_outcome",
        "summary": "Report outcome",
        "parameters": [],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OutcomeReport"
                }
              }
            },
            "headers": {
              "X-HyperRoute-Caller": {
                "description": "Resolved caller-profile reference, or unknown. Present when a caller profile is supplied.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "OutcomeReport",
        "x-response-mode": "json",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportOutcomeRequest"
              }
            }
          }
        }
      }
    },
    "/report_narrative": {
      "post": {
        "operationId": "report_narrative",
        "summary": "Report narrative",
        "parameters": [],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NarrativeResult"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "NarrativeResult",
        "x-response-mode": "json",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NarrativeReport"
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "health",
        "summary": "Health",
        "parameters": [],
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "Health",
        "x-response-mode": "json"
      }
    },
    "/queue": {
      "get": {
        "operationId": "queue",
        "summary": "Queue",
        "parameters": [],
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueueStatus"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "QueueStatus",
        "x-response-mode": "json"
      }
    },
    "/facets/catalog": {
      "get": {
        "operationId": "facets_catalog",
        "summary": "Facets catalog",
        "parameters": [],
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FacetCatalog"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "FacetCatalog",
        "x-response-mode": "json"
      }
    },
    "/onboard": {
      "post": {
        "operationId": "onboard",
        "summary": "Onboard",
        "parameters": [],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialResult"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "CredentialResult",
        "x-response-mode": "json",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnboardRequest"
              }
            }
          }
        }
      }
    },
    "/onboard/{tool_id}": {
      "get": {
        "operationId": "onboard_info",
        "summary": "Onboard info",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardInfo"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "OnboardInfo",
        "x-response-mode": "json"
      }
    },
    "/credentials/connect": {
      "post": {
        "operationId": "connect_credential",
        "summary": "Connect credential",
        "parameters": [],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialResult"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "CredentialResult",
        "x-response-mode": "json",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectRequest"
              }
            }
          }
        }
      }
    },
    "/credentials": {
      "get": {
        "operationId": "list_credentials",
        "summary": "List credentials",
        "parameters": [],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialList"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "CredentialList",
        "x-response-mode": "json"
      }
    },
    "/credentials/test": {
      "post": {
        "operationId": "test_credential",
        "summary": "Test credential",
        "parameters": [
          {
            "name": "tool_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialResult"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "CredentialResult",
        "x-response-mode": "json"
      }
    },
    "/credentials/{tool_id}": {
      "delete": {
        "operationId": "delete_credential",
        "summary": "Delete credential",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedResponse"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "DeletedResponse",
        "x-response-mode": "json"
      }
    },
    "/preferences": {
      "get": {
        "operationId": "get_preferences",
        "summary": "Get preferences",
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "default": null
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Preferences"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "Preferences",
        "x-response-mode": "json"
      },
      "put": {
        "operationId": "set_preferences",
        "summary": "Set preferences",
        "parameters": [],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoredPreferences"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "StoredPreferences",
        "x-response-mode": "json",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreferencesRequest"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "clear_preferences",
        "summary": "Clear preferences",
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "default": null
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedResponse"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "DeletedResponse",
        "x-response-mode": "json"
      }
    },
    "/private-tools": {
      "get": {
        "operationId": "list_private_tools",
        "summary": "List private tools",
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "default": null
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateToolList"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "PrivateToolList",
        "x-response-mode": "json"
      },
      "put": {
        "operationId": "declare_private_tool",
        "summary": "Declare private tool",
        "parameters": [],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeclaredPrivateTool"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "DeclaredPrivateTool",
        "x-response-mode": "json",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateToolRequest"
              }
            }
          }
        }
      }
    },
    "/private-tools/{tool_slug}": {
      "patch": {
        "operationId": "update_private_tool",
        "summary": "Update private tool",
        "parameters": [
          {
            "name": "tool_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatedPrivateTool"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "UpdatedPrivateTool",
        "x-response-mode": "json",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateToolPatch"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete_private_tool",
        "summary": "Delete private tool",
        "parameters": [
          {
            "name": "tool_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "default": null
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedResponse"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "DeletedResponse",
        "x-response-mode": "json"
      }
    },
    "/private-tools/suggest": {
      "post": {
        "operationId": "suggest_private_tools",
        "summary": "Suggest private tools",
        "parameters": [],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegionSuggestions"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "RegionSuggestions",
        "x-response-mode": "json",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivateToolRequest"
              }
            }
          }
        }
      }
    },
    "/private-tools/{tool_slug}/stance": {
      "post": {
        "operationId": "set_private_stance",
        "summary": "Set private stance",
        "parameters": [
          {
            "name": "tool_slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stance",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "default": null
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatedPrivateTool"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "UpdatedPrivateTool",
        "x-response-mode": "json"
      }
    },
    "/preferred-tools": {
      "get": {
        "operationId": "list_preferred_tools",
        "summary": "List preferred tools",
        "parameters": [
          {
            "name": "project_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "default": null
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreferredToolList"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "PreferredToolList",
        "x-response-mode": "json"
      },
      "put": {
        "operationId": "prefer_tool",
        "summary": "Prefer tool",
        "parameters": [],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreferredToolResult"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "PreferredToolResult",
        "x-response-mode": "json",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreferredToolRequest"
              }
            }
          }
        }
      }
    },
    "/preferred-tools/{tool_id}": {
      "patch": {
        "operationId": "update_preferred_tool",
        "summary": "Update preferred tool",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatedPreferredTool"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "UpdatedPreferredTool",
        "x-response-mode": "json",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreferredToolPatch"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "unprefer_tool",
        "summary": "Unprefer tool",
        "parameters": [
          {
            "name": "tool_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "default": null
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletedResponse"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "DeletedResponse",
        "x-response-mode": "json"
      }
    },
    "/result/{ref}": {
      "get": {
        "operationId": "download_result",
        "summary": "Download result",
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "JsonObject",
        "x-response-mode": "bytes"
      }
    },
    "/result/{ref}/read": {
      "post": {
        "operationId": "read_result",
        "summary": "Read result",
        "parameters": [
          {
            "name": "ref",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadResult"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "ReadResult",
        "x-response-mode": "json",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResultReadRequest"
              }
            }
          }
        }
      }
    },
    "/console": {
      "get": {
        "operationId": "console",
        "summary": "Console",
        "parameters": [
          {
            "name": "view",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "home"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "text"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "default": null
            }
          }
        ],
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsoleResult"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "ConsoleResult",
        "x-response-mode": "auto"
      }
    },
    "/console/{view}": {
      "get": {
        "operationId": "console_view",
        "summary": "Console view",
        "parameters": [
          {
            "name": "view",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "default": null
            }
          }
        ],
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsoleResult"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "ConsoleResult",
        "x-response-mode": "auto"
      }
    },
    "/auth/register": {
      "post": {
        "operationId": "register",
        "summary": "Register",
        "parameters": [],
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistrationResponse"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "RegistrationResponse",
        "x-response-mode": "json",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        }
      }
    },
    "/auth/verify": {
      "post": {
        "operationId": "verify",
        "summary": "Verify",
        "parameters": [],
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthSession"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "AuthSession",
        "x-response-mode": "json",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyRequest"
              }
            }
          }
        }
      }
    },
    "/auth/resend": {
      "post": {
        "operationId": "resend_verification",
        "summary": "Resend verification",
        "parameters": [],
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "MessageResponse",
        "x-response-mode": "json",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailRequest"
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "operationId": "login",
        "summary": "Login",
        "parameters": [],
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthSession"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "AuthSession",
        "x-response-mode": "json",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        }
      }
    },
    "/auth/login/request-code": {
      "post": {
        "operationId": "request_login_code",
        "summary": "Request login code",
        "parameters": [],
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "MessageResponse",
        "x-response-mode": "json",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailRequest"
              }
            }
          }
        }
      }
    },
    "/auth/login/code": {
      "post": {
        "operationId": "login_with_code",
        "summary": "Login with code",
        "parameters": [],
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthSession"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "AuthSession",
        "x-response-mode": "json",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CodeLoginRequest"
              }
            }
          }
        }
      }
    },
    "/auth/password/forgot": {
      "post": {
        "operationId": "forgot_password",
        "summary": "Forgot password",
        "parameters": [],
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "MessageResponse",
        "x-response-mode": "json",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailRequest"
              }
            }
          }
        }
      }
    },
    "/auth/password/reset": {
      "post": {
        "operationId": "reset_password",
        "summary": "Reset password",
        "parameters": [],
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthSession"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "AuthSession",
        "x-response-mode": "json",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPasswordRequest"
              }
            }
          }
        }
      }
    },
    "/auth/recover": {
      "post": {
        "operationId": "recover_account",
        "summary": "Recover account",
        "parameters": [],
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthSession"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "AuthSession",
        "x-response-mode": "json",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecoverRequest"
              }
            }
          }
        }
      }
    },
    "/auth/whoami": {
      "post": {
        "operationId": "whoami",
        "summary": "Whoami",
        "parameters": [],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "User",
        "x-response-mode": "json"
      }
    },
    "/auth/tokens": {
      "post": {
        "operationId": "create_token",
        "summary": "Create token",
        "parameters": [],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedToken"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "CreatedToken",
        "x-response-mode": "json",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenCreateRequest"
              }
            }
          }
        }
      },
      "get": {
        "operationId": "list_tokens",
        "summary": "List tokens",
        "parameters": [],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenList"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "TokenList",
        "x-response-mode": "json"
      }
    },
    "/auth/tokens/{token_id}": {
      "delete": {
        "operationId": "revoke_token",
        "summary": "Revoke token",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevokedResponse"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "RevokedResponse",
        "x-response-mode": "json"
      }
    },
    "/invite/accept": {
      "post": {
        "operationId": "accept_invite",
        "summary": "Accept invite",
        "parameters": [],
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthSession"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "AuthSession",
        "x-response-mode": "json",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteAcceptRequest"
              }
            }
          }
        }
      }
    },
    "/beta/apply": {
      "post": {
        "operationId": "apply_beta",
        "summary": "Apply beta",
        "parameters": [],
        "security": [
          {},
          {
            "waitlistSession": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BetaApplication"
                }
              }
            },
            "headers": {
              "Set-Cookie": {
                "description": "Issued only after persistence. Preserve hr_waitlist_session for subsequent updates.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Existing application requires its original session cookie.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "detail"
                  ]
                }
              }
            }
          }
        },
        "x-response-type": "BetaApplication",
        "x-response-mode": "json",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BetaApplicationRequest"
              }
            }
          }
        },
        "description": "First submission creates an application and sets an HttpOnly hr_waitlist_session cookie scoped to /beta/apply (SameSite=Strict, Secure over HTTPS). Updating an existing email requires the same cookie. Missing or wrong cookies, including legacy applications without session ownership, return HTTP 403 without changes. Retain the cookie for partial survey saves and priority upgrades. Cookie deletion or a different browser loses edit access. Database failures return persisted=false and do not issue a cookie."
      }
    },
    "/caller/collectors": {
      "get": {
        "operationId": "caller_collectors",
        "summary": "Caller collectors",
        "parameters": [],
        "security": [
          {},
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallerCollectors"
                }
              }
            }
          },
          "default": {
            "description": "HTTP error; details may be structured JSON or text",
            "content": {
              "application/json": {
                "schema": {}
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-response-type": "CallerCollectors",
        "x-response-mode": "json"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "waitlistSession": {
        "type": "apiKey",
        "in": "cookie",
        "name": "hr_waitlist_session",
        "description": "Required to edit an existing waitlist application; not required for initial submission."
      }
    },
    "schemas": {
      "RecommendRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string"
          },
          "facets": {
            "anyOf": [
              {
                "type": "object",
                "additionalProperties": {
                  "$ref": "#/components/schemas/Facet"
                }
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "context": {
            "anyOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "project_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "detail": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "min",
                  "lean",
                  "full"
                ]
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "format": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "json",
                  "text"
                ]
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "n_runner_ups": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "evidence_k": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "caller": {
            "default": null
          }
        },
        "required": [
          "query"
        ]
      },
      "DescribeRequest": {
        "type": "object",
        "properties": {
          "tool_id": {
            "type": "string"
          },
          "sections": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "session_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "query": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "context": {
            "anyOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "facets": {
            "anyOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "evidence_k": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          }
        },
        "required": [
          "tool_id"
        ]
      },
      "ExecuteRequest": {
        "type": "object",
        "properties": {
          "tool_id": {
            "type": "string"
          },
          "query": {
            "type": "string"
          },
          "session_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "caller": {
            "default": null
          }
        },
        "required": [
          "tool_id",
          "query"
        ]
      },
      "ReportOutcomeRequest": {
        "type": "object",
        "properties": {
          "session_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "run_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "tool_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "score": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "reason": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "comment": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "status": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "completed": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "coordinator_signal": {
            "anyOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "human_survey": {
            "anyOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "time_to_outcome_ms": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "downstream_action": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "dispute": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "caller": {
            "default": null
          }
        },
        "required": []
      },
      "NarrativeReport": {
        "type": "object",
        "properties": {
          "session_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "text": {
            "type": "string"
          },
          "author": {
            "type": "string",
            "default": "coordinator"
          },
          "steps": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              },
              {
                "type": "null"
              }
            ],
            "default": null
          }
        },
        "required": [
          "text"
        ]
      },
      "OnboardRequest": {
        "type": "object",
        "properties": {
          "tool_id": {
            "type": "string"
          },
          "api_key": {
            "type": "string"
          },
          "label": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          }
        },
        "required": [
          "tool_id",
          "api_key"
        ]
      },
      "ConnectRequest": {
        "type": "object",
        "properties": {
          "tool_id": {
            "type": "string"
          },
          "api_key": {
            "type": "string"
          },
          "label": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          }
        },
        "required": [
          "tool_id",
          "api_key"
        ]
      },
      "PreferencesRequest": {
        "type": "object",
        "properties": {
          "facets": {
            "type": "object",
            "additionalProperties": true
          },
          "project_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          }
        },
        "required": [
          "facets"
        ]
      },
      "PrivateToolRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "default": ""
          },
          "triggers": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": []
          },
          "anchors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": []
          },
          "stance": {
            "type": "string",
            "default": "pinned"
          },
          "project_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          }
        },
        "required": [
          "name"
        ]
      },
      "PrivateToolPatch": {
        "type": "object",
        "properties": {
          "name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "triggers": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "anchors": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "stance": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          }
        },
        "required": []
      },
      "PreferredToolRequest": {
        "type": "object",
        "properties": {
          "tool": {
            "type": "string"
          },
          "margin": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "note": {
            "type": "string",
            "default": ""
          },
          "project_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          }
        },
        "required": [
          "tool"
        ]
      },
      "PreferredToolPatch": {
        "type": "object",
        "properties": {
          "margin": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "note": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          }
        },
        "required": []
      },
      "ResultReadRequest": {
        "type": "object",
        "properties": {
          "op": {
            "type": "string",
            "default": "slice"
          },
          "offset": {
            "type": "integer",
            "default": 0
          },
          "limit": {
            "type": "integer",
            "default": 100
          },
          "path": {
            "anyOf": [
              {
                "type": "array",
                "items": {}
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "query": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          }
        },
        "required": []
      },
      "RegisterRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "display_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          }
        },
        "required": [
          "email",
          "password"
        ]
      },
      "VerifyRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "email",
          "code"
        ]
      },
      "EmailRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          }
        },
        "required": [
          "email"
        ]
      },
      "LoginRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        },
        "required": [
          "email",
          "password"
        ]
      },
      "CodeLoginRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        },
        "required": [
          "email",
          "code"
        ]
      },
      "ResetPasswordRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "new_password": {
            "type": "string"
          }
        },
        "required": [
          "email",
          "code",
          "new_password"
        ]
      },
      "RecoverRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "recovery_code": {
            "type": "string"
          },
          "new_password": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          }
        },
        "required": [
          "email",
          "recovery_code"
        ]
      },
      "TokenCreateRequest": {
        "type": "object",
        "properties": {
          "label": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          }
        },
        "required": []
      },
      "InviteAcceptRequest": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "email": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "password": {
            "type": "string"
          }
        },
        "required": [
          "token",
          "password"
        ]
      },
      "BetaApplicationRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "company": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "role": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "purpose": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "frameworks": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "other_tools": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "track": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "default": null
          },
          "survey": {
            "anyOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "null"
              }
            ],
            "default": null
          }
        },
        "required": [
          "name",
          "email"
        ]
      },
      "JsonObject": {
        "type": "object",
        "additionalProperties": true
      },
      "Facet": {
        "type": "object",
        "properties": {
          "kano": {
            "type": "string",
            "enum": [
              "must_be",
              "performance",
              "attractive"
            ]
          },
          "weight": {
            "type": "number"
          },
          "threshold": {
            "type": "number"
          }
        },
        "required": [],
        "additionalProperties": true
      },
      "Candidate": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/MinCandidate"
          },
          {
            "$ref": "#/components/schemas/LeanCandidate"
          },
          {
            "$ref": "#/components/schemas/FullCandidate"
          }
        ]
      },
      "Recommendation": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/MinRecommendation"
          },
          {
            "$ref": "#/components/schemas/LeanRecommendation"
          },
          {
            "$ref": "#/components/schemas/FullRecommendation"
          }
        ]
      },
      "RecommendationJob": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/QueuedRecommendationJob"
          },
          {
            "$ref": "#/components/schemas/RunningRecommendationJob"
          },
          {
            "$ref": "#/components/schemas/CompletedRecommendationJob"
          },
          {
            "$ref": "#/components/schemas/FailedRecommendationJob"
          }
        ]
      },
      "ExecutionResult": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/ExecutionSuccess"
          },
          {
            "$ref": "#/components/schemas/ExecutionOverflow"
          },
          {
            "$ref": "#/components/schemas/ExecutionFailure"
          }
        ]
      },
      "Health": {
        "type": "object",
        "properties": {
          "ready": {
            "type": "boolean"
          },
          "routable": {
            "type": "boolean"
          }
        },
        "required": [
          "ready",
          "routable"
        ],
        "additionalProperties": true
      },
      "JudgePanelMember": {
        "type": "object",
        "properties": {
          "model": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "rationale": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "score": {
            "type": "number"
          },
          "label": {
            "type": "string"
          },
          "value": {
            "type": "number"
          }
        },
        "required": [
          "model",
          "rationale"
        ],
        "additionalProperties": true
      },
      "ProbeJudgment": {
        "type": "object",
        "properties": {
          "facet": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "verdict": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "score": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "rationale": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "panel": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/JudgePanelMember"
                }
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "facet",
          "verdict",
          "score",
          "rationale",
          "panel"
        ],
        "additionalProperties": true
      },
      "Probe": {
        "type": "object",
        "properties": {
          "probe_id": {
            "anyOf": [
              {
                "anyOf": [
                  {
                    "type": "integer"
                  },
                  {
                    "type": "string"
                  }
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "similarity": {
            "type": "number",
            "description": "Cosine similarity to the requested task; not a success probability."
          },
          "task_text": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "adapted_input": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "score": {
            "type": "number",
            "description": "Observed aggregate score for this probe, on a 0\u20131 scale."
          },
          "redacted": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ]
          },
          "output_chars": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ]
          },
          "truncated": {
            "type": "boolean"
          },
          "created_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "judges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProbeJudgment"
            }
          },
          "raw_output": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Transport-sized output excerpt; null when redacted. May contain a truncation marker."
          }
        },
        "required": [
          "probe_id",
          "similarity",
          "task_text",
          "adapted_input",
          "score",
          "redacted",
          "output_chars",
          "truncated",
          "created_at",
          "judges",
          "raw_output"
        ],
        "additionalProperties": true
      },
      "ProbeEvidence": {
        "type": "object",
        "properties": {
          "n_real": {
            "type": "integer",
            "description": "Count of real probes available for this tool."
          },
          "n_near": {
            "type": "integer"
          },
          "near_mean": {
            "type": "number"
          },
          "dist": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "description": "Scores of nearby probes; not distances."
          },
          "probes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Probe"
            }
          }
        },
        "required": [
          "n_real",
          "n_near",
          "near_mean",
          "dist",
          "probes"
        ],
        "additionalProperties": true
      },
      "EvidenceTeaser": {
        "type": "object",
        "properties": {
          "task_text": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "verdict": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "score": {
            "type": "number"
          },
          "similarity": {
            "type": "number"
          },
          "n_real": {
            "type": "integer"
          }
        },
        "required": [
          "task_text",
          "verdict",
          "score",
          "similarity",
          "n_real"
        ],
        "additionalProperties": true
      },
      "FacetBreakdown": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "kano": {
            "type": "string",
            "enum": [
              "must_be",
              "performance",
              "attractive"
            ]
          },
          "weight": {
            "type": "number"
          },
          "threshold": {
            "type": "number"
          },
          "raw": {
            "type": "number",
            "description": "Raw facet value before its Kano transform."
          },
          "contribution": {
            "type": "number",
            "description": "Weighted contribution before normalization and must-have gates."
          }
        },
        "required": [
          "name",
          "kano",
          "weight",
          "threshold",
          "raw",
          "contribution"
        ],
        "additionalProperties": true
      },
      "PriceEstimate": {
        "type": "object",
        "properties": {
          "amount": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "per_query_usd": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "confidence": {
            "type": "string"
          },
          "selected_plan": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "held": {
            "type": "boolean"
          },
          "estimated": {
            "type": "boolean"
          },
          "cost_unknown": {
            "type": "boolean"
          },
          "breakdown": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PricePlan"
            }
          },
          "note": {
            "type": "string"
          }
        },
        "required": [
          "per_query_usd",
          "held",
          "cost_unknown"
        ],
        "additionalProperties": true
      },
      "CallingSummary": {
        "type": "object",
        "properties": {
          "usability": {
            "type": "string"
          },
          "auth_method": {
            "type": "string"
          },
          "api_type": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "connected": {
            "type": "boolean"
          },
          "free": {
            "type": "boolean"
          },
          "how": {
            "type": "string"
          },
          "signup_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [],
        "additionalProperties": true
      },
      "CallingDescriptor": {
        "type": "object",
        "properties": {
          "tool_id": {
            "type": "string"
          },
          "coordinator_class": {
            "type": "boolean"
          },
          "executable": {
            "type": "boolean"
          },
          "endpoint": {
[...]
